* {
	border: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: rgba(190, 190, 190, 0.6);
	text-shadow: -2px 1px 0 rgb(0, 0, 0);
}

body {
	background: radial-gradient(rgb(224, 63, 63), rgb(15, 0, 0) 70%);
	height: 100vh;
	position: relative;
	perspective: 1000px;
	overflow: hidden;
	user-select: none;
}

.square {
	display: flex;
	position: absolute;
	border-bottom: 2px solid black;
	outline: 6px double rgb(216, 142, 29);
	height: 75vh;
	width: 80%;
	transform: translateZ(100px);
	margin: auto;
	inset: 0;
	box-shadow: -15px 15px 10px rgb(43, 0, 0), -10px 10px 7px rgb(43, 0, 0) inset;
	background-image: repeating-radial-gradient(rgba(124, 2, 2, 0.5) 50%, transparent, rgba(0, 0, 0, 0.5));
	background-size: 15px 15px;
}

.cohort {
	position: fixed;
	text-orientation: upright;
	writing-mode: vertical-rl;
	left: 89%;
	top: 4%;
	font-size: clamp(16px, 2vw, 30px);
}

.left,
.right {
	display: flex;
	width: 50%;
	position: absolute;
	height: 100%;
	top: 0;
}

.left {
	backdrop-filter: blur(1.75px) brightness(1.05);
	border-right: rgb(0, 0, 0) 2px solid;
	box-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0), -10px -10px 0px rgba(2, 51, 38, 0.182) inset, 10px 0 0px rgba(2, 51, 38, 0.1) inset, 10px 10px 0px rgba(2, 51, 38, 0.182) inset;
	/* background: repeating-linear-gradient(90deg, rgba(41, 38, 38, 0.2), rgb(152, 143, 132), rgba(58, 48, 48, 0.15), rgba(148, 148, 151, 0.558)); */
	background: linear-gradient(rgba(0, 0, 0, 0.16), rgba(248, 0, 0, 0.15));
	z-index: 1;
}

/* paradomia */
.right {
	align-items: center;
	right: 0;
}

.sticker {
	position: absolute;
	background-color: rgb(230, 230, 230);
	border-radius: 10px;
	box-shadow: -5px 5px 3px rgb(43, 0, 0);
}

svg {
	fill: #00b5ef;
	stroke: black;
	height: clamp(48px, 4.5vw, 207px);
	padding: clamp(4px, 1.5vw, 10px);
	top: 8%;
	left: 5%;
	rotate: -20deg;
}

.google {
	width: clamp(90px, 10.5vw, 227px);
	aspect-ratio: 2/1;
	padding: 0 3px;
	top: 60%;
	left: 50%;
	rotate: 15deg;
}

.next {
	color: rgb(100, 100, 100);
	position: relative;
	rotate: -10deg;
	top: 80%;
	left: 5%;
	padding: 10px 5px;
	font-size: clamp(24px, 2vw, 32px);
	font-family: sans-serif;
	text-shadow: none;
	margin: auto;
	width: auto;
}

div>span {
	position: relative;
	top: 2px;
}

.south {
	width: clamp(125px, 12vw, 265px);
	aspect-ratio: 265/100;
	top: 30%;
	left: 29%;
	rotate: 7deg;
	background-image: url(South\ New\ Logo.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.blob_wrap {
	z-index: -1;
	overflow: hidden;
}

.blob1 {
	/* https://9elements.github.io/fancy-border-radius/ */
	display: flex;
	position: relative;
	height: 24rem;
	top: 30vh;
	right: 70vw;
	aspect-ratio: 1;
	position: absolute;
	rotate: 180deg;
	border-radius: 40% 60% 66% 34% / 65% 25% 75% 35%;
	background-image: linear-gradient(rgba(87, 0, 249, 0.822), rgba(200, 0, 255, 0.334));
	animation: blob 7.5s ease-in-out infinite;
}

.blob1::before {
	content: "";
	height: 96%;
	width: 96%;
	position: absolute;
	background: inherit;
	background-image: radial-gradient(circle at 10% 70%, rgb(249, 8, 221) 0%, transparent 40%), radial-gradient(circle at 10% 70%, rgb(249, 8, 156) 0%, transparent 40%);
	border-radius: inherit;
	box-shadow: 0 0 17px rgb(0, 0, 0) inset;
	margin: auto;
	inset: 0;
}

.blob2 {
	height: 27rem;
	aspect-ratio: 4/5;
	position: absolute;
	border-radius: 40% 60% 66% 34% / 65% 25% 75% 35%;
	box-shadow: 0 0 50px rgba(2, 39, 48, 0.625) inset;
	rotate: 76deg;
	right: 13vw;
	top: 70vh;
	background: linear-gradient(rgba(54, 255, 23, 0.707), rgba(34, 84, 193, 0.411));
	animation: blob 9s ease-in-out infinite;
}

.blob2::before {
	content: "";
	height: 97%;
	width: 97%;
	position: absolute;
	background: inherit;
	background-image: radial-gradient(circle at 10% 70%, rgba(79, 15, 227, 0.393) 0%, transparent 40%);
	border-radius: inherit;
	box-shadow: 0 0 25px rgb(56, 52, 52) inset;
	margin: auto;
	inset: 0;
}

.blob3 {
	height: 17rem;
	aspect-ratio: 1;
	position: absolute;
	rotate: 45deg;
	box-shadow: 0 0 7px rgba(217, 236, 9, 0.392) inset;
	right: -5vw;
	border-radius: 40% 60% 66% 34% / 65% 25% 75% 35%;
	background: linear-gradient(rgb(255, 94, 0), rgba(200, 158, 5, 0.75), rgba(243, 255, 14, 0.75));
	animation: blob 11s ease-in-out infinite;
}

.blob3::before {
	content: "";
	height: 96%;
	width: 96%;
	position: absolute;
	background: inherit;
	background-image: radial-gradient(circle at 10% 70%, rgba(205, 235, 10, 0.696) 0%, transparent 40%);
	border-radius: inherit;
	box-shadow: 0 0 17px rgb(6, 0, 0) inset;
	margin: auto;
	inset: 0;
}

@keyframes blob {

	0% {
		border-radius: 40% 60% 66% 34% / 65% 25% 75% 35%;
	}

	25% {
		border-radius: 50% 50% 64% 36% / 35% 70% 30% 65%;
	}

	50% {
		border-radius: 64% 76% 64% 36% / 56% 70% 30% 94%;
	}

	75% {
		border-radius: 76% 24% 64% 26% / 65% 34% 36% 35%;
	}
}

nav {
	display: flex;
	position: absolute;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-right: 30px;
	inset: 0;
	aspect-ratio: 1;
	height: inherit;
	width: clamp(180px, 34.8vw, 700px);
	justify-content: space-around;
}

nav>a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: clamp(35px, 7.5vw, 100px);
	aspect-ratio: 1;
	font-size: clamp(14px, 2vw, 24px);
	margin: clamp(10px, 2vw, 18px);
	border: 2px solid rgb(78, 11, 75);
	background-image:
		repeating-conic-gradient(rgba(11, 11, 229, 0.396) 12.5%, rgba(0, 0, 0, 0.068) 12.5%, rgba(0, 0, 0, 0.299) 25%),
		radial-gradient(transparent 42.5%, rgba(81, 6, 94, 0.397)),
		radial-gradient(circle at -10% 80%, rgba(233, 136, 232, 0.2) 0%, transparent 60%),
		radial-gradient(circle at 0% 120%, rgba(0, 47, 255, 0.8) 0%, transparent 40%),
		radial-gradient(circle at -10px 120%, rgba(22, 72, 236, 0.5) 0%, transparent 50%),
		radial-gradient(circle at 90% 10%, rgb(247, 232, 220) 0%, transparent 22%);
	border-radius: 50%;
	box-shadow: 0 0 15px rgba(84, 2, 125, 0.45) inset, 0 0 40px rgba(50, 26, 114, 0.636) inset, 0 0 60px rgba(206, 183, 216, 0.164) inset;
	backdrop-filter: blur(1.75px) brightness(2);
	animation: float 16s ease-in-out infinite;
	animation-delay: calc(.53s * var(--i));
	transition: .3s all;
}

nav>a:before {
	content: "";
	height: 95%;
	width: 95%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.25);
	border: 2px solid rgba(243, 133, 133, 0.25);
	border-radius: 50%;
	transform: translate(-25px, 20px) skewX(-5deg);
	z-index: -10;
	filter: blur(3px);
}

nav>a:after {
	content: "";
	height: 95%;
	width: 95%;
	position: absolute;
	background: radial-gradient(rgba(235, 39, 21, 0.3), transparent);
	border-radius: 50%;
	transform: translate(35px, -30px) skewX(-5deg);
	z-index: -10000;
	filter: blur(3px);
}

nav>a:hover {
	box-shadow: 0 0 17px rgb(219, 245, 89) inset;
	border: 2px solid rgba(255, 255, 255, 0.723);
	background-color: rgba(211, 235, 0, 0.616);
	color: black;
	text-shadow: none;
}

nav>a:hover:after {
	background: radial-gradient(rgba(235, 214, 21, 0.2), transparent);
}

@keyframes float {

	20% {
		transform: translate(16px, 10px);
	}

	50% {
		transform: translate(28px, 15px);
	}

	70% {
		transform: translate(20px, 8px);
	}

	80% {
		transform: translate(12, 4);
	}

	0%,
	100% {
		transform: translate(0, 0);

	}
}

a {
	text-decoration: none;
	color: rgb(252, 214, 59);
}

a:visited {
	color: rgb(144, 144, 144);
}